<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="OlalaPascal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <OlalaPascal.Properties.Settings>
            <setting name="StopAffterFirstErrorCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowLABELandGOTO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMacros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowInline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeAssertionCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAnsiString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadKylixcompact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowSTATICinObject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLikeOperator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RangeChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StackChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IOChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntegerOverflowChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectMethodCallChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PositionIndepentCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateSmartlinkableUnits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateSmallerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseResisterVariable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UncertainOptimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level1Optimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level2Optimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level3Optimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompilerMode" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="OptimizationTargetProcessor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CodeGenerationTargetProcessor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerboseSwitches" serializeAs="String">
                <value />
            </setting>
            <setting name="Brownser" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="AssemblerReader" serializeAs="String">
                <value />
            </setting>
            <setting name="Warnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTryedInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="All" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowallProcedures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListRegisterAllocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListTempAllocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListNodeAllocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePipeWithAssembler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConditionalDefines" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalCompilerArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="StackSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeapSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFoldingLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBullentin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHighlightCurrentLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
        </OlalaPascal.Properties.Settings>
        <Tester.Properties.Settings>
            <setting name="StopAffterFirstErrorCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowLABELandGOTO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMacros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowInline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeAssertionCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAnsiString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadKylixcompact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowSTATICinObject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLikeOperator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RangeChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StackChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IOChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntegerOverflowChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectMethodCallChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PositionIndepentCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateSmartlinkableUnits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateSmallerCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseResisterVariable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UncertainOptimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level1Optimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level2Optimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level3Optimizations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompilerMode" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="OptimizationTargetProcessor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CodeGenerationTargetProcessor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerboseSwitches" serializeAs="String">
                <value/>
            </setting>
            <setting name="Brownser" serializeAs="String">
                <value/>
            </setting>
            <setting name="AssemblerReader" serializeAs="String">
                <value/>
            </setting>
            <setting name="Warnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTryedInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="All" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowallProcedures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSource" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListRegisterAllocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListTempAllocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListNodeAllocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePipeWithAssembler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConditionalDefines" serializeAs="String">
                <value/>
            </setting>
            <setting name="AdditionalCompilerArgs" serializeAs="String">
                <value/>
            </setting>
            <setting name="StackSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeapSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </Tester.Properties.Settings>
    </userSettings>
</configuration>
